<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Using public API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div id="bg" class="col-lg-6 col-md-8 mx-auto">
            <h1 id="bg" class="fw-light">Random Dog</h1>
            <p id="bg" class="lead text-body-secondary">Refresh the website to get random pic of dog.</p>
          </div>
        </div>
      </section>
      <div id="bg" class="container">
        <img id="randomimg" src= <%= randomImg %> alt="This is a dog image">
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>